
{{ void(this.beginBlock('content')) }}

    {# {% set limit = 20 %}
    {% set articles = craft.entries.section('posts').find() %}
 #}

 {% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
 {% set articles = articlesArr.articles %}

 blah

 {{this.render('layouts/elements/_card-layout-home.twig') | raw}}

    {# <div class="layout-container">
        <div class="home">
            {% if articles|length > 0 %}
                {% include 'elements/_card-layout-home.twig' with {articles: articles} %}
            {% endif %}
        </div>
    </div> #}


    <div class="row ajaxArticles" data-existing-nonpinned-count="{#{{articlesArr.existingNonPinnedCount}}#}"></div>
    <div class="row text-center has-margin-bottom-20">
        {% if articles|length >= limit %}
            <a href="javascript:void(0)" class="button loadMoreArticles"><i class="fa fa-arrow-down"></i>Load More</a>
        {% endif %}
    </div>

{{ void(this.endBlock()) }}
